<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
      <clear />
      <add key="github" value="https://nuget.pkg.github.com/jcansdale-test/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <!-- Token with read:packages scope -->
      <add key="Username" value="jcansdale-robot" />
      <add key="ClearTextPassword" value="&#100;&#100;&#101;&#56;&#102;&#51;&#57;&#97;&#101;&#55;&#101;&#55;&#97;&#51;&#54;&#98;&#49;&#101;&#98;&#99;&#101;&#53;&#100;&#51;&#54;&#102;&#100;&#53;&#51;&#49;&#51;&#49;&#57;&#57;&#53;&#51;&#99;&#51;&#98;&#98;" />
    </github>
  </packageSourceCredentials>
</configuration>
